body {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.game-container {
    max-width: 600px;
    margin: 0 auto;
}

.word-display {
    font-size: 2em;
    letter-spacing: 10px;
}

.incorrect-guesses {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff0000;
}

.hangman {
    margin-top: 20px;
}

.letter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
}

.letter-button {
    padding: 10px 15px;
    background-color: #92bbec;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.letter-button:hover {
    background-color: #5e90c8;
}

.reset-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #0056b3;
}

.word-input {
    font-family: 'Fredoka', sans-serif;
}

